/advent-of-code/advent-of-code/bin/
/advent-of-code/advent-of-code/obj/
/advent-of-code/advent-of-code/inputs/
advent-of-code/obj/advent-of-code.csproj.nuget.g.props
advent-of-code/obj/advent-of-code.csproj.nuget.dgspec.json
